.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  min-height: 62.5vw;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  padding: 33px 16px;
  flex-direction: column;
  background-repeat: no-repeat;
  text-decoration: none;
}

.cover__link::before {
  background: #2A2C2F;
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__link {
    min-height: 480px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    margin: 0 auto;
    max-width: 1184px;
    min-height: 740px;
  }
}
