.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    padding-left: 0;
    padding-right: 0;
    margin-left: 28px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    margin-left: 32px;
    margin-bottom: 27px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    margin-left: 40px;
    margin-bottom: 26px;
  }
}
